<a href="https://colab.research.google.com/github/sweet215611/Miaotian-Cai-s-assignments/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples in Python
A tuple in Python is an ordered, immutable sequence of elements. Tuples are defined using parentheses and can contain elements of different data types, including other tuples. Once a tuple is created, its elements cannot be modified, added, or removed. This immutability makes tuples suitable for representing fixed collections of data.

## Objective
- Comprehend the application of tuples
- Understand how a tuple uses a memory
- Apply various operations on tuples

## Prerequisite

- Lists
- Decision and loops
- Input functions
- Python literals
- Programming variables


## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

# 1. Exercising tuples

1a) Take five inputs from an user and save it in a tuple called ```my_tuple```

In [22]:
input_1=input("write a number")
input_2=input("wrire a number")
input_3=input("write a number")
input_4=input("write a number")
input_5=input("write a number")
my_tuple=(int(input_1),int(input_2),int(input_3),int(input_4),int(input_5))
print(my_tuple)

write a number1
wrire a number2
write a number3
write a number4
write a number5
(1, 2, 3, 4, 5)

1b. How do you assign a single element in a tuple?

In [25]:
# Write your code here.
one_element_turtle_1=(1,)
print(one_element_turtle_1)

(1,)

1c. ```my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)```
Count the repeated integers and print the result on the console.

In [26]:
# Write your code here.
my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)
count_1=my_tuple.count(1)
count_2=my_tuple.count(2)
count_3=my_tuple.count(3)
count_4=my_tuple.count(4)
print(count_1)
print(count_2)
print(count_3)
print(count_4)

3
4
4
2

1d. ```my_tuple = my_tuple + my_tuple```


Proof that ```my_tuple``` in part c is different than the ```my_tuple``` in part d.

In [27]:
# Write your code here.
my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)
my_tuple = my_tuple + my_tuple
print(my_tuple)

(1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1, 1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

1e. Explain why the following operations aren’t legal for
the tuple. Answer without using the Python.
```
x = (1,2,3,4)  
x.append(1)   Append means to add one at the end, but tuple can't be changed.
x[1] = "hello"  Exchange 2 to hello, tuple can't be changed.
del x[2]   Delete 3,tuple can't be changed.
```

# 2. Packing and unpacking tuples

Python permits tuples to appear on the left side of an assignment operator, in which case variables in the tuple receive the corresponding values from the tuple on the right side of the assignment operator. Here’s a simple example:

In [28]:
(one, two, three, four) =  (1, 2, 3, 4)

2a. What is the data type of each variable?  Integer

2b. Python has an extended unpacking feature, allowing an element marked with * to absorb any number of elements not matching the other elements. For example,

In [32]:
x = (1, 2, 3, 4)
(a, b, *c) = x
print((a, b, c))

(1, 2, [3, 4])

2c. What will be the result of ```a, *b, c = x```?

In [34]:
# Write your code here.
x = (1, 2, 3, 4)
(a, *b, c) = x
print((a, b, c))

(1, [2, 3], 4)

# 3. Memory management

```
my_x = [100,200,300,400]
my_y = (200,300,400,500)

```
Discuss how memory addresses are assigned to each index of the list and the tuple. Pay attention to new addresses & re-used addresses.

| Index | my_x | my_y |
|   -   |   -  |  -   |
|   0   |10754024|10757224|
|   1   |  10757224 |   139358570959536 |
|   2   |   139358570965488  |  139358570965232  |
|   3   |   139358570964048 |  139358570963408 |

In [54]:
my_x=[100,200,300,400]
my_y=(200,300,400,500)
print(id(my_x[0]),id(my_x[1]),id(my_x[2]),id(my_x[3]))
print(id(my_y[0]),id(my_y[1]),id(my_y[2]),id(my_y[3]))

10754024 10757224 139358570965488 139358570964048
10757224 139358570959536 139358570965232 139358570963408

## Challenges

Please describe the challenges you faced during the exercise.

Write your challenges here